.job-detail {
  margin-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.job-detail > div, .job-detail > mat-divider {
  margin-top: 10px;
}

.job-task-status {
  margin-left: 20px;
}

.action-buttons button {
  margin-left: 10px;
}

.task-status-item {
  width: 100%;
}

.remarks {
  color: #939393;
  font-size: 14px;
  overflow-wrap: break-word;
}
