﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Please find the result of the queued job "{{JobDefinitionName}}" in Project "{{ProjectName}}":

    <br />
    Code: {{JobCode}}
    <br />
    Status: {{JobStatus}}
    <br />
    Remarks: {{Remarks}}
    <hr />
    Job Task Status:
    <br />
    {{JobTaskStatus}}
    <br />
    <br />

    You can also find the detailed job result and logs in the following <a href="{{WebUrl}}">link</a>
</body>
</html>