﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    You are invited to join OpenCatapult. Please click <a href="{{ConfirmUrl}}">here</a> to confirm your email.

    <br /> <br />
    If you are unable to click the link above, please paste this link into the address bar of your browser: {{ConfirmUrl}}

    <br /> <br />
    Please use the following temporary username and password to login into the application:
    <br />
    UserName: {{UserName}}
    <br />
    Password: {{TemporaryPassword}}
    <br />
    <br />
    For the next step:
    <ul>
        <li>Follow this link to setup the CLI: https://docs.opencatapult.net/home/start.</li>
        <li>Update your password to a secure one: https://docs.opencatapult.net/guides/user-guides/users#update-password</li>
    </ul>
</body>
</html>