<div class="container">
    <div class="title-desc">
        <h2 appHelpElement="UserProfile">User Profile</h2>
        <span>Current user specific configuration</span>
      </div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Info
        </ng-template>
        <app-user-profile-info></app-user-profile-info>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Password
        </ng-template>
        <app-user-profile-password></app-user-profile-password>
      </mat-tab>
    </mat-tab-group>
</div>
