<mat-progress-bar mode='indeterminate' *ngIf='loading'></mat-progress-bar>
<div class="container" *ngIf="!loading">
    <div class="title-desc">
        <h2 appHelpElement="UserProfile">User Profile</h2>
        <span>Current user specific configuration</span>
      </div>
      <nav mat-tab-nav-bar flex>
        <a mat-tab-link [routerLink]="['info']" routerLinkActive #rlainfo="routerLinkActive" [active]="rlainfo.isActive">
          Info
        </a>
        <a mat-tab-link [routerLink]="['password']" routerLinkActive #rlaPassword="routerLinkActive" [active]="rlaPassword.isActive">
          Password
        </a>
        <a mat-tab-link *ngIf="twoFactorEnabled" [routerLink]="['twofactor']" routerLinkActive #rlaTwoFactor="routerLinkActive" [active]="rlaTwoFactor.isActive">
          Two Factor Authentication
        </a>
      </nav>
      <router-outlet></router-outlet>
</div>
