<div [ngSwitch]="additionalConfig.type" [formGroup]="form">  
    <mat-form-field *ngSwitchCase="'string'" class="full-width-input">
        <mat-label>{{additionalConfig.label}}</mat-label>
        <input matInput placeholder="{{additionalConfig.hint}}" [formControlName]="additionalConfig.name" [required]="additionalConfig.isRequired ? 'required' : null">
    </mat-form-field>
    
    <mat-form-field *ngSwitchCase="'number'" class="full-width-input">
        <mat-label>{{additionalConfig.label}}</mat-label>
        <input matInput placeholder="{{additionalConfig.hint}}" [formControlName]="additionalConfig.name" [required]="additionalConfig.isRequired ? 'required' : null">
    </mat-form-field>
    
  <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="additionalConfig.name">{{additionalConfig.label}}</mat-checkbox>
</div>