<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
      <span>
        <img src="assets/img/logo.png" class="angular-logo">
        Opencatapult
      </span>
      <button mat-button routerLink="/project">Projects</button>
      <button mat-button routerLink="/service">External Services</button>
      <button mat-button routerLink="/engine" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Engines</button>
      <button mat-button routerLink="/provider" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Providers</button>
      <button mat-button routerLink="/user" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Users</button>
  </div>
  <div class="profile-buttons">
      <button mat-button routerLink="/user-profile">Edit Profile</button>
      <button mat-button (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar>
