<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
      <div fxShow="true" fxHide.gt-sm="true" class="menu-buttons">
          <button mat-icon-button  (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
      </div>
      <span>
        <img src="assets/img/logo.png" class="angular-logo">        
      </span>

      <div fxShow="true" fxHide.lt-md="true" class="menu-buttons">
        <button mat-button routerLink="/project">Projects</button>
        <button mat-button routerLink="/service">External Services</button>
        <button mat-button routerLink="/engine" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Engines</button>
        <button mat-button routerLink="/provider" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Providers</button>
        <button mat-button routerLink="/user" *appHasAccess="authorizePolicyEnum.UserRoleAdminAccess">Users</button>
      </div>
  </div>
  <div class="profile-buttons">
      <span class="greetings">Hi, {{greetingsName}}</span>
      <button class="greetings-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user-profile">Edit Profile</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
  </div>
</mat-toolbar>
