<h1 mat-dialog-title>New External Service</h1>
<form [formGroup]="externalServiceForm" (submit)="onSubmit()">
    <div mat-dialog-content>
        <mat-progress-bar mode='indeterminate' *ngIf='loading'></mat-progress-bar>
        <app-external-service-form (formReady)="onFormReady($event)"></app-external-service-form>
      </div>
      <div mat-dialog-actions>
          <button mat-button cdkFocusInitial>Save</button>
          <button mat-button [mat-dialog-close]="false">Cancel</button>
      </div>
</form>

