<div class="margin10" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row"  fxLayoutAlign="flex-start center">
      <a mat-button routerLink="../">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h4>Job Queue Log</h4>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="job?.status === 'QUEUED'">
  <mat-spinner></mat-spinner>
  <div>Waiting for engine to pick up the queue...</div>
</div>
<mat-accordion class="headers-align" [multi]="true" *ngIf="job?.jobTasksStatus && job.jobTasksStatus.length > 0">
  <mat-expansion-panel *ngFor="let taskStatus of job?.jobTasksStatus">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>{{taskStatus.taskName}}</h5>
      </mat-panel-title>
      <mat-panel-description>
        <app-job-queue-task-status [taskStatus]="taskStatus.status"></app-job-queue-task-status>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-job-queue-task-log [taskStatus]="taskStatus" [job]="job"></app-job-queue-task-log>
  </mat-expansion-panel>
</mat-accordion>
