<div [formGroup]="cloneConfigForm" *ngIf="showForm">  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Optional Task Configuration
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width-input">
            <mat-label>Test Location</mat-label>
            <input matInput placeholder="Custom directory path of test" formControlName="TestLocation">
        </mat-form-field>    
        <mat-checkbox formControName="ContinueWhenFailed">Continue when failed?</mat-checkbox>
    </mat-expansion-panel>
</div>