<h2>
  Welcome to Opencatapult!
</h2>
<p>
  You can start creating a new project using the button at the left project menu, or navigate to a project in the project list.
</p>
<div fxLayout="row">
  <mat-card fxFlex="50" fxFlex.sm="100">
    <mat-card-header>
      <mat-card-title>Recent Projects</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <div class="margin10"></div>
      <ul class="recent-projects">
        <li *ngFor="let project of shownHistory"><a routerLink="/project/{{project.id}}">{{project.name}}</a></li>
      </ul>
      <div *ngIf="history?.length > shownHistoryNumber">
          <div class="button margin10" (click)="toggleShowAll(true)" *ngIf="history?.length !== shownHistory?.length">
            <button mat-button>Show more...</button>
          </div>
          <div class="button margin10" (click)="toggleShowAll(false)" *ngIf="history?.length === shownHistory?.length">
            <button mat-button>Show less</button>
          </div>
        </div>
      <div *ngIf="history.length === 0">
        No recent projects
      </div>
    </mat-card-content>
  </mat-card>
</div>
