<h1 mat-dialog-title>Add New Task To "{{data.jobDefinitionName}}" Job</h1>
<form [formGroup]="jobTaskDefinitionForm" (submit)="onSubmit()">
    <div mat-dialog-content>
        <mat-progress-bar mode='indeterminate' *ngIf='loading'></mat-progress-bar>
        <app-job-task-definition-form (formReady)="onFormReady($event)"></app-job-task-definition-form>
      </div>
      <div mat-dialog-actions>
          <button mat-button cdkFocusInitial>Save</button>
          <button mat-button [mat-dialog-close]="false">Cancel</button>
      </div>
</form>

