table {
  width: 100%;
}

.member-buttons {
  color: #757575;
  text-align: right;
}

.action-buttons {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-records{
  text-align: center;
}
