.angular-logo {
    margin: 0 4px 3px 0;
    height: 35px;
    vertical-align: middle;
}

.profile-buttons {
  text-align: right;
}

.greetings-button {
  height: 50px;
}

.greetings-avatar, .greetings-avatar-icon {
  border: 2px solid #222222;
  border-radius: 50%;
}

.greetings-avatar-icon  {
  padding: 4px 6px;
}

.greetings-avatar {
  object-fit: cover;
  width: 36px;
  height: 36px;
  margin-top: -4px;
}

.greetings-button mat-icon {
  height: 27px;
}

.menu-buttons {
  display: inline-block;
}

.is-active {
  background-color: #ebeced;
}
