<div [formGroup]="cloneConfigForm" *ngIf="showForm">  
  <mat-form-field class="full-width-input">
      <mat-label>Repository</mat-label>
      <input matInput placeholder="The remote repository url" formControlName="Repository" required>
  </mat-form-field>
  <mat-checkbox formControName="IsPrivateRepository">Is private repository?</mat-checkbox>
  
  <div class="margin10"></div>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Optional Task Configuration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="full-width-input">
          <mat-label>Clone location</mat-label>
          <input matInput placeholder="Custom directory path where the cloned app is stored" formControlName="CloneLocation">
      </mat-form-field>
      <mat-form-field class="full-width-input">
          <mat-label>Base branch</mat-label>
          <input matInput placeholder="The branch to be checked out. Default to master" formControlName="BaseBranch">
      </mat-form-field>
  </mat-expansion-panel>
</div>